#color{background-color: rgba(245, 245, 245, 0.9);border-radius: 10px;}

.center_c_fond {position: relative;top: 20%; left: 50%;transform: translate(-50%, -50%);}

.center_c_photo {position: relative;top: 35%; left: 50%;transform: translate(-50%, -50%);}

.center_compte {position: relative;top: 10%; left: 50%;transform: translate(-50%, -50%);}
.center_compte_notif {position: relative;top: 50%; left: 30%; transform: translate(-50%, -50%);}

.center_admin_bouton {display: flex;align-items: center;justify-content: center;}
#inline {display : inline-block;}

.right {right:100%}

.champ {height: 500px; width:500px;}

.center_nav {display: flex;align-items: center;justify-content: center;}

.center_connexion {position: absolute;top: 35%; left: 50%;transform: translate(-50%, -50%);}
.center_connexion_text {position: absolute; left: 50%;transform: translate(-50%, -50%);}
.center_connexion_bouton {position: absolute;top:120%; left: 50%;transform: translate(-50%, -50%);}

.error-container {text-align: center; margin-top: 13%;}
.error-message {color: black;}

.bienvenue-container {text-align: center; margin-top: 10%;}
.bienvenue-message {color: black;}
