#color{background-color: rgba(245, 245, 245, 0.9);border-radius: 10px;}
#colorb{background-color: rgba(0, 0, 0, 0.85);border-radius: 10px;}
#txt_color{color:white;font-size: 0.7em;}

#colorcv{background-color: rgba(211, 211, 211, 0.9);border-radius: 10px;}

.center_c_fond {position: relative;top: 20%; left: 50%;transform: translate(-50%, -50%);}

.center_c_photo {position: relative;top: 35%; left: 50%;transform: translate(-50%, -50%);}

.center_compte {position: relative;top: 10%; left: 50%;transform: translate(-50%, -50%);}
.center_compte_notif {position: relative;top: 50%; left: 30%; transform: translate(-50%, -50%);}

.center_admin_bouton {display: flex;align-items: center;justify-content: center;}
#inline {display : inline-block;}

.right {right:100%}

.champ {height: 500px; width:500px;}

.center_nav {display: flex;align-items: center;justify-content: center;}

.center_connexion {position: absolute;top: 35%; left: 50%;transform: translate(-50%, -50%);}
.center_connexion_text {position: absolute; left: 50%;transform: translate(-50%, -50%);}
.center_connexion_bouton {position: absolute;top:120%; left: 50%;transform: translate(-50%, -50%);}

html {height: 100%;}
body {min-height: 100%;margin: 0;padding: 0;position: relative;}
footer {position: absolute; bottom: -130; left: 0; right: 0;}

.error-container {text-align: center; margin-top: 13%;}
.error-message {color: black;}
.bienvenue-container {text-align: center; margin-top: 10%;}
.bienvenue-message {color: black;}

.container-fluid-accueil {padding-top: 20px;}
.carousel-item img {height: 300px;object-fit: cover;}
.post {background-color: rgba(245, 245, 245, 0.9);border-radius: 10px;box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);margin-bottom: 20px;padding: 20px;}
.post-vous {background-color: rgba(245, 245, 245, 0.9);border-radius: 10px;border: 5px solid rgb(61, 61, 255);box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);margin-bottom: 20px;padding: 20px;}
.post-amis {background-color: rgba(245, 245, 245, 0.9);border-radius: 10px;border: 5px solid rgb(0, 214, 0);box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);margin-bottom: 20px;padding: 20px;}
.post-header {display: flex;align-items: center;}
.post-header img {margin-right: 15px;}
.post-info h5 {margin: 0;}
.post-info small {color: #777;}
.post-body {margin-top: 15px;}
.post-footer-1 {display: flex;justify-content: space-between;margin-top: 15px;}
.post-footer-2 {display: flex;justify-content: space-between;margin-top: 15px;}

#addPostBtn {position: fixed;left: 55%;bottom: 15%;width: auto;max-width: 10%;
}

#chatBtn {position: fixed;left: 88%;bottom: 15%;width: auto;max-width: 10%;
}
